<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/halfmoon.css" rel="stylesheet" />
    <link href="/css/lore-wiki.css" rel="stylesheet" />
    <link href="/css/error.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b7e9506a51.js" crossorigin="anonymous"></script>
    <title>lore.wiki</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/icon/site.webmanifest">
  </head>
  <body class="dark-mode with-custom-webkit-scrollbars with-custom-css-scrollbars with-navbar with-sidebar with-navbar-fixed-bottom" data-dm-shortcut-enabled="false" data-sidebar-shortcut-enabled="false" data-set-preferred-theme-onload="true" style="background-color: #1F2226;">

    <!-- Page wrapper with navbar, sidebar, and navbar fixed bottom -->
    <div class="page-wrapper with-navbar with-navbar-fixed-bottom">
      
      <!-- Navbar -->
      <nav class="navbar" style="background-color: #191C20; height: 3rem;">
        lore.wiki
      </nav>
      
      <!-- Content wrapper -->
      <div class="content-wrapper">
        
        <div class="center error round">
          
          <h4><b>Something went wrong</b></h4>
          <h5> 404: File not Found </h5>
          <a class="btn btn-primary btn-block" href="/">Return to Homepage</a>

        </div>

      </div>

      <!-- Navbar fixed bottom -->
      <nav class="navbar navbar-fixed-bottom text-muted" style="background-color: #191C20; height: 3rem;">
        rights reserved etc
      </nav>

    </div>

    <script src="/js/register.js"></script>
  </body>
</html>