<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/halfmoon-variables.css" rel="stylesheet" />
    <title>lore.wiki</title>
  </head>
  <body class="dark-mode with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="false" data-sidebar-shortcut-enabled="false" data-set-preferred-theme-onload="true">

    <!-- First comes the modal -->
    <div class="modal" id="ui" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          
          <h4>lore.wiki</h4>

          <span>welcome <b><%= username %></b> 😊</span>

          <br>
          <br>
          <button class="btn"type="button"onclick="window.location.href='/profile'">Edit Profile</button>

        </div>
      </div>
    </div>
    
    <script src="/js/index.js"></script>
  </body>
</html>