.center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
     /* ty https://stackoverflow.com/users/3367818/noamyg */
}
.round {
  border-radius: 1rem;
}
.homepage {
    background-color: #191C20;
    padding: 2rem;
    text-align: left;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.login {
    background-color: #191C20;
    padding: 3rem;
    text-align: left;
    width: 41rem;
    height: 43rem;
    max-width: 95%;
    max-height: 95%;
}
.register {
    background-color: #191C20;
    padding: 3rem;
    text-align: left;
    width: 41rem;
    height: 51rem;
    max-width: 95%;
    max-height: 95%;
}
@font-face {
    font-family: 'Whitney Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Whitney Medium'), url('/fonts/whitneymedium.woff') format('woff');
}
body {
    font-family:'Whitney Medium'
}
.mobile
{
    display:block;
}
.desktop
{
    display:none
}

@media (min-width: 700px) {
    .mobile {
        display:none 
    }
    .desktop {
        display:block 
    }
}